@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-ExtraBold.ttf');
  font-weight: bold;
}
@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Regular.ttf');
  font-weight: normal;
}
body{
  font-family: 'Raleway', sans-serif;
}
.container{
  padding: 10px 40px 0 40px;
  /* 4k ULTRA TELEVISION */
  max-width: 1440px;
  margin: 0 auto;
}

/* MAIN NAV */
.main-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-nav div:first-child {
  flex: 2;
}
.main-nav div a{
  text-transform: capitalize;
  margin: 0 20px 0 35px;
}
.register-button{
  text-decoration: none;
  border-top: none !important;
  color: #0065FC;
  cursor: pointer;
}
.main-nav div:not(:last-child) a{
  text-decoration: none;
  color: gray;
  padding: 10px;
}
.main-nav div a:hover{
  color: #0065FC;
  border-top: solid 2px #0065FC;
}

/* SUB NAV */
.sub-nav{
  margin-top: 35px;
}
.sub-nav p{
  font-size: 13px;
  margin: 10px 0 10px 0;
}

/* SEARCH BAR */
.search {
  width: 100%;
  display: flex;
  padding-top: 5px;
}
.search input {
  width: 100%;
  border: 1px solid #efefef;
  border-left: none;
  border-right: none;
  padding: 10px;
  font-size: 17px;
  font-weight: bold;
}
.searchIcon {
  width: 80px;
  height: 47px;
  border: 1px solid #efefef;
  border-right: none;
  background: #efefef;
  text-align: center;
  border-radius: 16px 0 0 16px;
}
.searchButton {
  float: right;
  width: 190px;
  height: 47px;
  border: 1px solid #0065FC;
  background: #0065FC;
  text-align: center;
  color: #fff;
  border-radius: 0 16px 16px 0;
  cursor: pointer;
  font-size: 15px;
}
.searchButton::after {
content: "Rechercher";
}
.wrap{
  width: 35%;
}

/* Filter */
.row{
  display: flex;
  flex-wrap: wrap;
}
.filter-text{
  margin-right: 32px;
  margin-top: 40px;
  font-weight: bold;
}
.filter{
  text-transform: capitalize;
  font-weight: bold;
  margin: 30px 0 20px 0;
  padding-right: 30px;
  font-size: 15px;
  border: 2px solid #efefef;
  border-radius: 50px;
  border-left: none;
  margin-right: 40px;
  cursor: pointer;
}
.filter button{
  width: 40px;
  height: 40px;
  border: 2px solid #DEEBFF;
  border-right: none;
  background: #DEEBFF;
  text-align: center;
  border-radius: 50px;
  color: #0065FC;
}

/* info */
.info{
  padding-top: 20px;
}
.info button{
  width: 30px;
  height: 30px;
  border: 2px solid #efefef;
  border-radius: 50px;
  color: #0065FC;
  background: #fff;
}

/* Box */
.flex-body{
  display: flex;
}

.column {
  margin: 25px 10px 0 10px;
  padding: 30px;
  border-radius: 16px;
}

.left {
  width: 60%;
  background: #efefef;
}

.right {
  width: 29%;
  background: #efefef;
}

.column h2{
  margin-left: 10px;
  text-align:left;
}

.column h2 span{
  float:right;
}

.column h3{
  margin: 15px 0 15px 10px;
}
.column-hebergement{
  display: flex;
  flex-wrap: wrap;
}
.card_01{
  background: #fff;
  position:relative;
  flex: 1;
  margin: 30px 10px 10px 10px;
  padding: 5px;
  border-radius: 16px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.card_01:hover{ 
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  transform: scale(1.1);
}
.card_01 img{
    height:140px;
    width: 100%;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    object-fit: cover;
}
.card_01 h4{
  font-size: 15px;
  margin: 6px 0 0 10px;
}
.card_01 p{
  font-size: 13px;
  margin: 10px 0 0 10px;
}
.card_01 p span{
  font-weight: bold;
}
.card_01 button{
  color: #0065FC;
  margin: 10px 0 0 4px;
  border: none;
  background:none;
}

.card_02{
  background: #fff;
  position:relative;
  flex: 1;
  margin: 30px 10px 10px 10px ;
  padding: 5px 5px 2px 5px;
  border-radius: 16px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
.card_02:hover{ 
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  transform: scale(1.1);
}
.col{
  flex: 1;
}
.col img{
  width: 140px;
  height: 150px;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  object-fit: cover;
}
.col h4{
  font-size: 15px;
  margin-top: 12px;
}
.col p{
  font-size: 13px;
  margin-top: 12px;

}
.col p span{
  font-weight: bold;
}

.col button{
  position: absolute;
  bottom: 0;
  margin-bottom: 10px;
  border: none;
  background:none;
  color: #0065FC;
}

/* ACTIVITE */
.activite-title{
  text-align:left;
  margin: 70px 0 20px 15px;
}

.wrapper {
  display: flex;
  margin-bottom: 50px;
}

.column-activite {
  flex: 1;
  min-width: 0;
  display: flex;
  flex-direction: column;
}

.item {
  background: #fff;
  position:relative;
  flex: 1;
  margin:10px 20px 10px;
  border-radius: 16px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.item:hover{ 
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  transform: scale(1.1);
}

.img_activite{
  height: 330px;
  width: 100%;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  object-fit: cover;
}

.item h4{
  font-size: 15px;
  margin: 15px 0 15px 18px;
}

.img_activite_big{
  height: 190px;
  width: 100%;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  object-fit: cover;
}

.big {
  flex-grow: 2;
}

.img_activite_small{
  height: 80px;
  width: 100%;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  object-fit: cover;
}

.img_activite_medium{
  height: 130px;
  width: 100%;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  object-fit: cover;
}

/* FOOTER */
footer{
  flex: 0;
  background-color: #efefef;
  max-width: 1440px;
  margin: 0 auto !important;
} 
footer>div{
  width: 80%;
  display: flex;
  justify-content: space-between;
  padding: 30px 0 30px 70px;
}
footer>div>p{
  margin-bottom: 7px;
  text-transform: capitalize;
}
footer>div>div>p{
  margin-bottom: 7px;
  text-transform: capitalize;
}
footer h5{
  color:#444444;
  font-size: 20px;
  margin-bottom: 20px;
  text-align: left;
  text-transform: capitalize;
}

