@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-ExtraBold.ttf');
  font-weight: bold;

}
@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Regular.ttf');
  font-weight: normal;

}
body{
  font-family: 'Raleway', sans-serif;
  padding: 10px 10px 0 40px;
}

/* MAIN NAV */

.main-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px 0 0;
}

.main-nav>img{
  width: 100px;
}

.main-nav li {
  display: inline-block;
}

.main-nav ul li{
  text-transform: capitalize;
  margin: 0 20px 0 35px;
}

.main-nav ul li:last-of-type{
  color: blue;
  cursor: pointer;
}

.main-nav li a{
  text-decoration: none;
  color: gray;
}

.main-nav li a:focus{
  color: #0065FC;
  border-top: solid 2px #0065FC;
  padding: 30px;
}
/* SUB NAV */

.sub-nav{
  margin-top: 35px;
}

.sub-nav p{
  font-size: 13px;
  margin-top: -7px;
}

/* SEARCH BAR */

.search {
  width: 100%;
  position: relative;
  display: flex;
  padding-top: 5px;
}

.search input {
  width: 100%;
  border: 1px solid #efefef;
  border-left: none;
  border-right: none;
  padding: 10px;
  height: 25px;
}

.searchIcon {
  width: 80px;
  height: 47px;
  border: 1px solid #efefef;
  border-right: none;
  background: #efefef;
  text-align: center;
  border-radius: 16px 0 0 16px;
}

.searchButton {
  width: 190px;
  height: 47px;
  border: 1px solid #0065FC;
  background: #0065FC;
  text-align: center;
  color: #fff;
  border-radius: 0 16px 16px 0;
  cursor: pointer;
  font-size: 15px;
}
.wrap{
  width: 35%;
}

/* Filter */

.row{
  display: flex;
  flex-wrap: wrap;
}

.filter-text{
  margin-right: 32px;
  margin-top: 40px;
  font-weight: bold;
}

.filter{
  text-transform: capitalize;
  font-weight: bold;
  margin: 30px 0 20px 0;
  padding-right: 30px;
  font-size: 15px;
  border: 2px solid #efefef;
  border-radius: 50px;
  border-left: none;
  margin-right: 40px;
  cursor: pointer;
}

.filter button{
  width: 40px;
  height: 40px;
  border: 2px solid #DEEBFF;
  border-right: none;
  background: #DEEBFF;
  text-align: center;
  border-radius: 50px;
  color: #0065FC;
}

/* info */

.info button{
  width: 30px;
  height: 30px;
  border: 2px solid #efefef;
  border-radius: 50px;
  margin: 10px 10px 0 0;
  color: #0065FC;
  background: #fff;
}
